.header {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 100%;
    height: 75px;
    animation-name: animateHeader;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 75px;
    background: linear-gradient(45deg, #191A22, #232534);
    border-radius: 8px;
    box-shadow: 0 0 5px #000;
}

.home:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #B269F6;
    opacity: 0.7;
}


.customization {
    display: flex;
    justify-content: flex-end;
    width: 92%;
    height: 75px;
    background: linear-gradient(45deg, #191A22, #232534);
    border-radius: 8px;
    box-shadow: 0 0 5px #000;
}

.custom-container {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add-wallet {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    color: #fff;
    box-shadow: 0 0 5px #000;
    border-radius: 10px;
    font-size: 1vw;

}

.add-wallet:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #B269F6;
    opacity: 0.8;
}

.custom:hover {
    cursor: pointer;
    opacity: 0.7;
}

@keyframes animateHeader {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}